@charset "utf-8";
/* CSS Document */
.container  .icon{
	width:1.5rem;
	height:1.5rem;
	margin-right:0.3rem;
	background-size:80% auto;
	background-position:center;
	}
.display-picture{
	width:46px;
	height:46px;
	margin:50px auto 30px auto;
	border:1px solid white;
	}
.title-ul{
	background-color:#D21449;
	}
.title-ul li{
	border-bottom:1px solid rgba(255,255,255,0.6);
	}
.title-ul li a{
	margin:0px 20px;
	height:2.7rem;
	line-height:2.7rem;
	background-image:url(/modules/base/images/arrow-right.png?__spirite);
	background-repeat:no-repeat;
	background-position:right center;
	}
.title-ul li a>div:nth-of-type(2){
	text-align:right;
	}
.title-ul li a>div{
	margin-right:1rem;
	}
.title-ul li .circle{
	width:1.7rem;
	height:1.7rem;
	margin-right:0.5rem;
	background-size:auto 50%;
	background-repeat:no-repeat;
	background-position:center;
	background-color:#de6e75;
	
	}
.title-ul .recharge .circle{
	background-image:url(/modules/base/images/money.png?__spirite);
}
.title-ul .order-manage .circle{
	background-image:url(/modules/base/images/order.png?__spirite);
	}
.title-ul .user-info .circle{
	background-image:url(/modules/base/images/person.png?__spirite);
	background-size:auto 80%;
	}
.title-ul .shop-car .circle{
	background-image:url(/modules/base/images/shopping-car.png?__spirite);
	background-size:auto 80%;
	}
.title-ul .tip-off .circle{
	background-image:url(/modules/base/images/phone.png?__spirite);
	background-size:auto 80%;
	}
.title-ul .coupons .circle{
	background-image:url(/modules/base/images/sale.png?__spirite);
	background-size:auto 70%;
	}
.text-bg{
	padding-bottom:80px;
	background-position:bottom center;
	background-image:url(/modules/base/images/words.png?__spirite);
	background-size:auto 1rem;
	}
.fill-title{
	padding:0px 7px;
	border-right:1px solid rgba(255,255,255,0.6);
	white-space:nowrap;
	}
.fill-content{
	margin:0px 7px;
	width:30px;
	}
.equal-width:first-child{
	margin-right:20px;
	}
.equal-width:only-child{
	margin-right:0px;
	}
.edit-info section{
	border-bottom:1px solid rgba(255,255,255,0.3);
	margin-bottom:20px;
	}
.edit-info>section>div,
.edit-info>section h2,
.edit-info .list-wrapper>div>div{
	margin-bottom:20px;
	}
.container .remark>div{
    padding:7px;
	}
.container .remark textarea.fill-content{
	margin-left:0px;
}
.remark .fill-title{
	border:none;
	}
.add-more{
	position:relative;
	margin-bottom:30px;
	width:10rem;
	}
.add-more .circle{
	position:absolute;
	left:0px;
	top:1px;
	border:1px solid rgba(255,255,255,0.2);
	box-sizing:border-box;
	}
.add-more .flex-grow{
	margin-left:1rem;
	border-left:none;
	border-radius:0 0.3rem 0.3rem 0;
	}
.search{
	padding:0px 10px;
	}
.coupon{
	height:7rem;
	margin-bottom:20px;
	padding:10px;
	background-position:right bottom;
	background-size:auto 100%;
	background-position:right 20px;
	padding-bottom:5px;
	position:relative;
	}
.coupon>div{
	position:absolute;
	width:100%;
    
	}
.coupon>div:last-child{
	height:5px;
	bottom:0px;
	left:0px;
	background:-webkit-linear-gradient(left,#6A308E,#6A308E);
	}

.coupon>div:nth-last-of-type(2){
	bottom:10px;
	padding:0px 10px;
	left:0px;
	}
.coupon>div:nth-last-of-type(3){
	color:#6A308E;
	right:10px;
	top:0px;
	width:auto;
	font-size:1.2rem;
	
	}
.coupon>div:nth-last-of-type(3) span{
	font-size:1.7rem;
	}
.car-beauty-coupon{
	background-image:url(/modules/base/images/car-beauty-copy2.png?__spirite);
}
.pet-coupon{
	background-image:url(/modules/base/images/paw-copy3.png?__spirite);
	}
.car-wash-coupon{
	background-image:url(/modules/base/images/car-copy2.png?__spirite);
	background-size:auto 50%;
	background-position:right 85%;
	}
.general{
	background-image:url(/modules/base/images/text.png?__spirite);
	background-position:center;
	background-size:auto 30%;
	}
.general-bg{
	background-image:url(/modules/base/images/general.png?__spirite);
	}
.container .paw-bg{
	background-image:url(/modules/base/images/paw.png?__spirite);
	background-size:120% auto;
	}
.car-bg{
	background-image:url(/modules/base/images/car-copy3.png?__spirite);
	}
.search{
	margin-bottom:30px;
	}
.report{
	padding-top:30px;
	}
.report>div,
.report>a{
	margin-bottom:20px;
	}
.report .flex{
	padding:0px 10px;
	}
.shopping-list>div{
	margin-bottom:20px;
	}
.shopping-list input[type="checkbox"]{
	width:1.5rem;
	height:1.5rem;
	border-radius:100%;
	border:1px solid rgba(255,255,255,0.3);
	margin-right:10px;
	}
.shopping-list input[type="checkbox"]:checked{
	background-image:url(/modules/base/images/selected.png?__sprite);
	background-repeat:no-repeat;
	background-position:center;
	background-size:65% auto;
	}
.shopping-list .service-logo{
	width:5rem;
	background-position:center;
	background-size:80% auto;
	border-right:1px solid rgba(255,255,255,0.3);
	margin-right:15px;
	}
.shopping-list .pet-order .service-logo{
	background-image:url(/modules/base/images/paw.png?__spirite);
	}
.shopping-list .car-wash-order .service-logo{
	background-image:url(/modules/base/images/car-copy3.png?__spirite);
	background-size:70% auto;
		}
.shopping-list .car-beauty-order .service-logo{
	background-image:url(/modules/base/images/car-beauty.png?__spirite);
	background-size:80% auto;
		}
.shopping-list .padding-side{
	padding:15px;
	}
.pay-status{
	background-image:url(/modules/base/images/general-copy.png?__spirite),url(/modules/base/images/words-copy2.png);
	padding:4rem 0px 1.3rem 0px;
	font-size:2.2rem;
	background-position:center top,center bottom;
	background-size:auto 3.5rem,auto 1rem;
	}
.fixed-bottom>:only-child{
	border-right:none;
	}
.split{
	border-bottom:1px solid white;
	padding-bottom:10px;
	margin-bottom:10px;
	}
.mention-color{
	color:#F3A592;
	}
	.report>section{
	margin-bottom:20px;
	}

