.equal-width:first-child {
	margin-right: 20px;
}
.equal-width:only-child {
	margin-right: 0px;
}
.order-list .order {
	margin-bottom: 15px;
}
.order-list > div, .order-fill > div, .order-fill h2 {
	margin-bottom: 30px;
}
.expert {
	position: absolute;
	background-color: white;
	left: 10px;
	top: -0.6rem;
	height: 1.5rem;
	width: 9rem;
	color: black;
	padding: 0px 5px;
	line-height: 1.5rem;
}
.order-list > div > div {
	margin-bottom: 15px;
}
.fill-title {
	padding: 0px 7px;
	border-right: 1px solid rgba(255,255,255,0.6);
	white-space: nowrap;
}
.fill-content {
	margin: 0px 7px;
	width: 30px;
}
.container .remark > div {
	padding: 7px;
}
.remark .fill-title {
	border: none;
}
.detail > div {
	margin-bottom: 10px;
}
.nice-input.swal-form-field {
	height: 37px;
	width: 100%;
	border: 1px solid #CECECE;
}

.nice-input.swal-form-field select option {
	padding: 10px;
}

.nice-input.swal-form-field {
	margin-top: 5px !important;
}

.swal-form input[type="radio"], input[type="submit"], input[type="checkbox"], select {
	-webkit-appearance: none;
	border: none;
	background: none;
	outline: none;
	color: black;
	font-family: "微软雅黑";
	font-size: inherit;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.swal-form [type="text"], input[type="tel"], textarea, input[type="date"] {
	-webkit-appearance: none;
	border: none;
	background: none;
	outline: none;
	color: black;
	font-family: "微软雅黑";
	font-size: inherit;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

