<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8" />
		<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport" />
		<meta content="telephone=no" name="format-detection" />
		<title>小区选择</title>
		<link href="/modules/base/css/common.css" rel="stylesheet" type="text/css">
		<link href="/modules/pet-service-manage/css/pet-service-manage.css" rel="stylesheet" type="text/css">
		
</head>
<body class="padding-side border-box" style="padding-top:70px">
      <div class="container order-fill">
      	      <nav class="nav fixed-height fixed-top flex">
      	      	 <ul class="flex flex-grow">
      	      	 	<li class="equal-width flex-grow items-center flex">
      	      	 		<a href="#" class="flex items-center justify-center flex-grow"><div class="flex-grow">预约订单</div></a>
      	      	 	</li>
      	      	 	<li class="equal-width flex-grow flex">
      	      	 		<a href="#" class="flex items-center justify-center flex-grow selected "><div class="flex-grow">分配订单</div></a>
      	      	 		<ul class="no-display hidden-ul">
      	      	 			<li><a href="#" class="flex items-center justify-center">全部</a></li>
      	      	 			<li><a href="#" class="flex items-center justify-center">师傅1</a></li>
      	      	 			<li><a href="#" class="flex items-center justify-center">师傅2</a></li>
      	      	 			<li><a href="#" class="flex items-center justify-center">师傅3</a></li>
      	      	 		</ul>
      	      	 	</li>
      	      	 	<li class="equal-width flex-grow flex">
      	      	 		<a href="#" class="flex items-center justify-center flex-grow"><div class="flex-grow">已完成订单</div></a>
      	      	 	</li>
      	      	 </ul>
      	      	
      	      </nav>
              <div class="order-list">
              	<div>总共<span class="order-total">2</span>单</div>
              	<div>
                 <div class="order border radius">
                     <div class="radius book">接单</div>
                     <div class="expert radius">服务师傅：<span>张小小</span></div>
                     <div class="padding-side">
                          <p>订单号：<span class="order-num">250042187</span></p>
                          <p>爱宠名字：</p>
                          <p>爱宠年龄：</p>
                          <p>爱宠品种：</p>
                          <p>是否具有攻击性：</p>
                          <p>爱宠身体状况：</p>
                          <p>购买产品：</p>
                          <p>服务项目：</p>
                          <p>价格：￥25.00</p>
                     </div>
                     <div class="flex">
                        <a href="#" class="shadow bg fixed-height equal-width radius flex-grow flex items-center justify-center cancel-order">取消订单</a>
                        <a href="#" class="shadow bg fixed-height equal-width radius flex-grow flex items-center justify-center">服务记录</a>
                     </div>
                 </div>
                 <div class="fixed-height bg radius shadow flex items-center justify-center assign">更改服务人员</div>
                 <div class="fixed-height bg radius shadow flex items-center justify-center finish-order">完成服务</div>
                </div>
                
                <div>
                 <div class="order border radius">
                     <div class="radius book">接单</div>
                     <div class="expert radius">服务师傅：<span>张小小</span></div>
                     <div class="padding-side">
                          <p>订单号：<span class="order-num">250042187</span></p>
                          <p>爱宠名字：</p>
                          <p>爱宠年龄：</p>
                          <p>爱宠品种：</p>
                          <p>是否具有攻击性：</p>
                          <p>爱宠身体状况：</p>
                          <p>购买产品：</p>
                          <p>服务项目：</p>
                          <p>价格：￥25.00</p>
                     </div>
                     <div class="flex">
                        <a href="#" class="shadow bg fixed-height equal-width radius flex-grow flex items-center justify-center cancel-order">取消订单</a>
                        <a href="#" class="shadow bg fixed-height equal-width radius flex-grow flex items-center justify-center">服务记录</a>
                     </div>
                 </div>
                 <div class="fixed-height bg radius shadow flex items-center justify-center assign">更改服务人员</div>
                 <div class="fixed-height bg radius shadow flex items-center justify-center finish-order">完成服务</div>
                </div>
      
             </div>
      </div>
      
      <input type="hidden" th:value="${orderStatus}" id="orderStatus" />
      <script type="text/javascript" src="/lib/mod.js"></script>
		<!--SCRIPT_PLACEHOLDER-->
		
	  <script type="text/javascript">
			require("/modules/pet-service-manage/js/dominate-assigned-order");
	  </script>
      
</body>
</html>
