<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport" />
		<meta content="telephone=no" name="format-detection" />
		<title>示例页面</title>
		<link rel="stylesheet" type="text/css" href="/modules/test/css/index.css" />
	</head>
	<body>
		<div id="getfirst">
			<div>
				<div>
					<span>xx</span>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/lib/mod.js"></script>
		<!--SCRIPT_PLACEHOLDER-->
		<script type="text/javascript">
			require("/modules/test/js/index");
		</script>
	</body>
</html>