<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta
	content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
	id="viewport" name="viewport" />
<meta content="telephone=no" name="format-detection" />
<title>国庆洗车礼包</title>
<link href="/modules/base/css/common.css" rel="stylesheet"
	type="text/css">
<link href="/modules/convenient-service/css/convenient-service.css"
	rel="stylesheet" type="text/css">
<link href="/components/sweetalert/sweetalert.css" rel="stylesheet"
	type="text/css">
</head>

<body class="padding-side border-box has-fixed-ele">
	<div class=hudong-image>
		<img  src="/modules/base/images/guoqing.png" width="250" height="120">
	</div>
	<div class="container">
		<form class="order-fill" id="cardOrderForm">
			<div class="flex">
				<div
					class="flex radius fixed-height shadow items-center bg border-box flex-grow equal-width">
					<div class="fill-title">小区</div>
					<select class="fill-content flex-grow" name="villeage">
						<option th:value="招商江湾城">招商江湾城</option>
						<option th:value="融侨·江云渡">融侨·江云渡</option>
						<option th:value="风临洲A区">风临洲A区</option>
						<option th:value="风临洲B区">风临洲B区</option>
						<option th:value="融侨·花湖汀">融侨·花湖汀</option>
						<option th:value="融侨·花湖汀A区">融侨·花湖汀A区</option>
						<option th:value="融侨·花湖汀B区">融侨·花湖汀B区</option>
						<option th:value="融侨·香弥山1号">融侨·香弥山1号</option>
						<option th:value="融侨·香弥山2号">融侨·香弥山2号</option>
						<option th:value="融侨·云满庭B区">融侨·云满庭B区</option>
						<option th:value="融侨·云满庭C区">融侨·云满庭C区</option>
						<option th:value="融侨·云满庭D区">融侨·云满庭D区</option>
						<option th:value="融侨·彩虹道">融侨·彩虹道</option>
					</select>
				</div>
				<div
					class="flex radius fixed-height shadow items-center bg border-box flex-grow equal-width">
					<div class="fill-title">房号</div>
					<input type="text" name="roomNo"
						class="block flex-grow fill-content">
				</div>
			</div>

			<div class="flex">
				<div
					class="flex radius fixed-height shadow items-center bg border-box flex-grow equal-width">
					<div class="fill-title">车牌号</div>
					<input type="text" name="plate"
						class="block flex-grow fill-content" required="required">

				</div>
				<div
					class="flex radius fixed-height shadow items-center bg border-box flex-grow equal-width">
					<div class="fill-title">车库</div>
					<input type="text" name="carGarage"
						class="block flex-grow fill-content" required="required" />
				</div>
			</div>

			<div class="flex">
				<div
					class="flex radius fixed-height shadow items-center bg border-box flex-grow equal-width">
					<div class="fill-title">电话</div>
					<input type="tel" name="mobile"
						class="block flex-grow fill-content">
				</div>
				<div
					class="flex radius fixed-height shadow items-center bg border-box flex-grow equal-width">
					<div class="fill-title">车位</div>
					<input type="text" name="carPosition"
						class="block flex-grow fill-content">
				</div>

			</div>
			<div class="flex">
				<div
					class="flex radius fixed-height shadow items-center bg border-box flex-grow">
					<div class="fill-title">节前服务时间</div>
					<!-- <input type="date" name="serverTime"
						class="block flex-grow fill-content"/> -->
					<select class="fill-content flex-grow" name="serverTime">
						<option th:value="2016-9-23">2016-9-23</option>
						<option th:value="2016-9-24">2016-9-24</option>
						<option th:value="2016-9-25">2016-9-25</option>
						<option th:value="2016-9-26">2016-9-26</option>
						<option th:value="2016-9-27">2016-9-27</option>
						<option th:value="2016-9-28">2016-9-28</option>
						<option th:value="2016-9-29">2016-9-29</option>
						<option th:value="2016-9-30">2016-9-30</option>
					</select>
				</div>
			</div>
			<div class="flex">
				<div
					class="flex radius fixed-height shadow items-center bg border-box flex-grow">
					<div class="fill-title">节后服务时间</div>
					<!-- <input type="date" name="endServiceTime"
						class="block flex-grow fill-content" /> -->
					<select class="fill-content flex-grow" name="endServiceTime">
						<option th:value="2016-10-6">2016-10-6</option>
						<option th:value="2016-10-7">2016-10-7</option>
						<option th:value="2016-10-8">2016-10-8</option>
						<option th:value="2016-10-9">2016-10-9</option>
						<option th:value="2016-10-10">2016-10-10</option>
						<option th:value="2016-10-11">2016-10-11</option>
						<option th:value="2016-10-12">2016-10-12</option>
						<option th:value="2016-10-13">2016-10-13</option>
						<option th:value="2016-10-14">2016-10-14</option>
					</select>
				</div>
			</div>
			<div class="flex remark">
				<div class="flex radius shadow bg border-box flex-grow">
					<div class="">备注：</div>
					<textarea type="text" name="orderRemark"
						class="block flex-grow border-box"></textarea>
				</div>
			</div>
			<div class="flex"></div>


		</form>
		<input type="hidden" id="id"> <input type="hidden" id="openId"
			th:value="${openId}">
		<div align="" class="guoqing">
			<h2 style="font-weight:bold;">国庆礼包说明：</h2>
			<h3>①本次优惠活动与车管家其他活动不可同享。</h3>
			<h3>②国庆礼包含两次内外饰清洗，35元套餐优惠券。</h3>
			<h3>③国庆节前服务限选时间：9月23日-9月30日； 国庆节后服务限选时间：10月7日-10月14日。</h3>
			<h3>④同一车牌号限购一次国庆洗车礼包。</h3>
		</div>
		<div class="fixed-bottom border-box flex justify-center items-center">
			<a href="#" class="submit block">立即下单</a>
		</div>
	</div>
	<script type="text/javascript" src="/lib/mod.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<!--SCRIPT_PLACEHOLDER-->
	<script type="text/javascript">
		require("/modules/convenient-service/js/activityGuoQingShow");
	</script>

</body>
</html>
