<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8" />
		<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport" />
		<meta content="telephone=no" name="format-detection" />
		<title>汽车管家</title>
		<link href="/modules/base/css/common.css" rel="stylesheet" type="text/css">
		<link href="/modules/convenient-service/css/convenient-service.css" rel="stylesheet" type="text/css">
		
</head>

<body class="padding-side border-box car-manager-index double-bg">
           <div class="container">
               <div class="logo">
                     <div class="flex items-center mengna justify-center italic">干儿子私人管家&nbsp;<span class="center-mark block"></span>车管家</div>
                     <div class="blackitalic justify-center flex" >THE BUTLER</div>
               </div> 
               <div class="poster"><img src="/modules/base/images/car-poster.png " class="radius"></div>
               <div class="radius shadow car-manager-menu flex">
                      <div class="no-repeat bg"></div>
                      <ul class="flex-grow">
                           <li class="bg"><a th:href="@{/weixin/pageMonthOrderIntro(userId=${userId}, villeage=${villeage})}" class="flex items-center justify-center">包月洗车<span class="center-mark block"></span><span class="lightalternate"><b>Car Wash</b></span></a></li>
                           <li class="bg"><a th:href="@{/weixin/pageCardOrderIntro(userId=${userId}, villeage=${villeage})}" class="flex items-center justify-center">次卡洗车<span class="center-mark block"></span><span class="lightalternate"><b>Car Wash</b></span></a></li>
                           <li class="bg"><a th:href="@{/weixin/pageSingleOrderIntro(userId=${userId}, villeage=${villeage})}" class="flex items-center justify-center">单次洗车<span class="center-mark block"></span><span class="lightalternate"><b>Car Wash</b></span></a></li>
                      </ul> 
               </div>
               <div class="flex flex-wrap flow-layout car-manager-flow">
                     <div class="flex justify-center">
                     	<a class="flex shadow radius bg justify-center items-center car-beauty " th:href="@{/weixin/pageCarBeautyIntro(userId=${userId}, villeage=${villeage})}">
                     		<div>汽车美容</div>
                     	</a>
                     	<a class="flex shadow radius bg justify-center items-center client-service" href="tel:4008015560">
                     		<div>客户服务</div>
                     	</a>
                     	<a class="flex shadow radius bg justify-center items-center personal-center" th:href="@{/weixin/pageUserManageIndexById(userId=${userId})}">
                     		<div>个人中心</div>
                     	</a>
                     </div>
                     
               </div>
           </div>
           <script type="text/javascript" src="/lib/mod.js"></script>
		<!--SCRIPT_PLACEHOLDER-->
		
	  <script type="text/javascript">
			require("/modules/convenient-service/js/car-manager-index");
	  </script>
</body>
</html>
