<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport" />
		<meta content="telephone=no" name="format-detection" />
		<title>次卡洗车预约</title>
		<link href="/modules/base/css/common.css" rel="stylesheet" type="text/css">
		<link href="/modules/convenient-service/css/convenient-service.css" rel="stylesheet" type="text/css">
		<link href="/components/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
		<link href="/components/sweetalert/swal-forms.css" rel="stylesheet" type="text/css">
	</head>

	<body class="padding-side border-box has-fixed-ele">
		<div class="container">
			<form class="order-fill">
				<div class="flex">
					<div class="flex radius fixed-height shadow items-center bg border-box flex-grow equal-width">
						<div class="fill-title">
							车牌
						</div>
						<select class="fill-content flex-grow" name="userCarId">
							<option th:each="car : ${cars}" th:value="${car.id}" th:attr="carType=${car.carType},parkArea=${car.parkArea}" th:text="${car.plate}"></option>
						</select>
					</div>
					<div class="flex radius fixed-height shadow items-center border-box flex-grow border equal-width hidden-overflow car-wrapper">
						<div class="flex-grow equal-width car-type flex items-center justify-center">
							轿车
 							<input type="radio" name="carType" checked value="轿车" disabled>
 						
<!--  						<input type="radio" name="carType"  value="轿车" >
 --> 						</div>
						<div class="flex-grow equal-width car-type flex items-center justify-center">
							SUV
 							<input type="radio" name="carType" value="SUV" disabled>
<!--  							<input type="radio" name="carType" value="SUV" >
 -->							
						</div>
					</div>
				</div>
				<div class="flex">
					<div class="flex radius fixed-height shadow items-center bg border-box flex-grow equal-width">
						<div class="fill-title">
							车库
						</div>
						<select class="fill-content flex-grow" name="parkArea">
							<option th:each="parkArea : ${parkAreas}" th:value="${parkArea.id}" th:text="${parkArea.constDesc}">A区</option>
						</select>
						<input type="hidden" name="userCarPosition" />
					</div>
					<div class="flex radius fixed-height shadow items-center border-box flex-grow equal-width bg">
						<div class="fill-title">
							车位
						</div>
						<input type="text" name="carPosition" class="block flex-grow fill-content">
					</div>
				</div>
				<div class="flex">
					<div class="flex radius fixed-height shadow items-center border-box flex-grow equal-width bg justify-center" id="add-car">
						添加车辆信息
					</div>
					
				</div>
				<div class="flex">
					<div class="flex radius fixed-height shadow items-center bg border-box flex-grow equal-width">
						<div class="fill-title">
							小区
						</div>
						<input type="text" class="block flex-grow fill-content" th:value="${villeageName}" readonly="readonly">
						<input type="hidden" name="villeageId" class="block flex-grow fill-content" th:value="${villeage}" readonly="readonly">
					</div>
					<div class="flex radius fixed-height shadow items-center bg border-box flex-grow equal-width">
						<div class="fill-title">
							房号
						</div>
						<input type="text" name="roomNo" class="block flex-grow fill-content" th:value="${user.roomNo}">
					</div>
				</div>
				<div class="flex">
					<div class="flex radius fixed-height shadow items-center border-box flex-grow border equal-width hidden-overflow interior-wrapper">
						<div class="flex-grow equal-width car-type flex items-center justify-center">
							不清洗内饰
							<input type="radio" name="insideWash" checked value="0">
						</div>
						<div class="flex-grow equal-width car-type flex items-center justify-center">
							清洗内饰
							<input type="radio" name="insideWash" value="1">
						</div>
					</div>
					<div class="flex radius fixed-height shadow items-center border-box flex-grow equal-width bg">
						<div class="fill-title">
							电话
						</div>
						<input type="tel" name="mobile" class="block flex-grow fill-content" th:value="${user.mobile}">
					</div>
				</div>
				<div class="flex">
					<div class="flex radius fixed-height shadow items-center border-box flex-grow border equal-width hidden-overflow car-wrapper">
						<div class="flex-grow equal-width car-type flex items-center justify-center">
							在车库
							<input type="radio" name="userCarStatus" checked value="1">
						</div>
						<div class="flex-grow equal-width car-type flex items-center justify-center">
							未在车库
							<input type="radio" name="userCarStatus" value="0">
						</div>
					</div>
					<div class="flex radius fixed-height shadow items-center bg border-box flex-grow">
						<div class="fill-title">
							回库时间
						</div>
						<select class="fill-content flex-grow" name="userCarTime" disabled="disabled">
							<option value="20:00前">20:00前</option>
							<option value="22:00前">22:00前</option>
							<option value="24:00前">24:00前</option>
						</select>
					</div>
				</div>
				<div class="flex">
					<div class="flex radius fixed-height shadow items-center bg border-box flex-grow">
						<div class="fill-title">
							服务时间
						</div>
						<input type="date" name="serviceTime" class="block flex-grow fill-content">
					</div>
				</div>

				<div class="flex remark">

					<div class="flex radius shadow bg border-box flex-grow">
						<div class="">
							备注：
						</div>
						<textarea type="text" name="remark" class="block flex-grow border-box"></textarea>
					</div>
				</div>
				<div class="align-right" th:inline="text">
					剩余服务次数:[[${order.leftCount}]]次
				</div>
				<input type="hidden" th:value="${order.id}" name="cardOrder"/>
				<input type="hidden" th:value="${order.userId}" name="userId"/>
				<input type="hidden" th:value="${order.carType}" name="orderCarType"/>
				<input type="hidden" value="0" name="payPrice"/>
			</form>

		</div>
		<input type="hidden" id="openId" th:value="${user.openId}" />
		<input type="hidden" id="orderNumber" th:value="${order.orderNumber}" />
		<div class="fixed-bottom border-box flex justify-center items-center">
			<a href="#" class="submit block">立即预约</a>
		</div>
		<script type="text/javascript" src="/lib/mod.js"></script>
		<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<!--SCRIPT_PLACEHOLDER-->

		<script type="text/javascript">
			require("/modules/convenient-service/js/counts-wash-book");
		</script>
	</body>
</html>
