<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport" />
		<meta content="telephone=no" name="format-detection" />
		<title>宠物订单</title>
		<link href="/modules/base/css/common.css" rel="stylesheet" type="text/css">
		<link href="/modules/convenient-service/css/convenient-service.css" rel="stylesheet" type="text/css">
		<link href="/components/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
	</head>
	<body class="padding-side border-box">
		<div class="container order-fill">
			<div class="order-list">
				<div class="order border radius" th:each="order : ${orders}">
					<div class="radius book" th:if="${order.orderStatus} == 6">
						预约
					</div>
					<div class="radius book" th:if="${order.orderStatus} == 7">
						已取消
					</div>
					<div class="radius paid" th:if="${order.orderStatus} == 2">
						已支付
					</div>
					<div class="radius unpaid" th:if="${order.orderStatus} == 8">
						待支付
					</div>
					<div class="radius unpaid" th:if="${order.orderStatus} == 1 or ${order.orderStatus} == 0">
						未支付
					</div>
					
					<div class="radius accept-order" th:if="${order.orderStatus} == 5">
						已接单
					</div>
					<div class="radius accept-order" th:if="${order.orderStatus} == 3">
						服务结束
					</div>
					<div class="padding-side">
						<p th:inline="text">
							订单号：[[${order.orderNumber}]]
						</p>
						<p th:inline="text">
							服务时间：[[${#calendars.format(order.time,'yyyy.MM.dd')}]]
						</p>
						<p th:inline="text">
							服务项目：[[${order.petItem} == null ? '待服务人员确认' : ${order.petItem}]]
						</p>
						<p th:inline="text">
							购买产品：无
						</p>
						<p th:inline="text">
							价格：[[${order.payPrice} == null ? '待服务人员确认' : ${order.payPrice}]]
						</p>
					</div>
					<input type="hidden" class="orderId" th:value="${order.id}"/>
					<input type="hidden" class="orderNumber" th:value="${order.orderNumber}"/>
					<div class="flex" th:if="${order.orderStatus} == 6">
						<a href="tel:4008015560" class="shadow bg fixed-height equal-width radius flex-grow flex items-center justify-center">联系客服</a>
						<a href="#" class="shadow bg fixed-height equal-width radius flex-grow flex items-center justify-center cancel-order">取消订单</a>
					</div>
					<div class="flex" th:if="${order.orderStatus} == 2">
						<a th:href="@{/weixin/pageOrderEvaluate(userId=${order.userId}, orderId=${order.id}, orderType=5)}" class="shadow bg fixed-height equal-width radius flex-grow flex items-center justify-center">服务评价</a>
					</div>
					<div class="flex" th:if="${order.orderStatus} == 8 or ${order.orderStatus} == 1 or ${order.orderStatus} == 0">
						<a href="#" class="shadow bg fixed-height equal-width radius flex-grow flex items-center justify-center cashPay">现金支付</a>
						<a href="#" class="shadow bg fixed-height equal-width radius flex-grow flex items-center justify-center weixinPay">微信支付</a>
					</div>
					<div class="flex" th:if="${order.orderStatus} == 5">
						<a href="#" class="shadow bg fixed-height equal-width radius flex-grow flex items-center justify-center">联系师傅</a>
					</div>
					<div class="flex" th:if="${order.orderStatus} == 7">
						<a href="tel:4008015560" class="shadow bg fixed-height equal-width radius flex-grow flex items-center justify-center">联系客服</a>
					</div>
				</div>
				
			</div>
		</div>
		<input type="hidden" id="openId" th:value="${user.openId}" />
		<script type="text/javascript" src="/lib/mod.js"></script>
		<!--SCRIPT_PLACEHOLDER-->
		<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script type="text/javascript">
			require("/modules/convenient-service/js/pet-service-record");
		</script>

	</body>
</html>
