<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport" />
		<meta content="telephone=no" name="format-detection" />
		<title>上门美宠</title>
		<link href="/modules/base/css/common.css" rel="stylesheet" type="text/css">
		<link href="/modules/convenient-service/css/convenient-service.css" rel="stylesheet" type="text/css">
		<link href="/components/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
	</head>

	<body class="padding-side border-box has-fixed-ele">
		<div class="container order-fill" style="padding-top:10px">

			<h2 class="flex"><div class="circle bg no-repeat icon paw-copy-bg lightalternate"></div>Petcare Expert</h2>
			<form class="order-fill" style="padding-top:0px">

				<div class="flex">
					<div class="flex radius fixed-height shadow items-center border-box flex-grow border">
						<div class="fill-title">
							爱宠编号
						</div>
						<input type="text" name="pet-num" class="block flex-grow fill-content" th:value="${order.id}" readonly="">
					</div>
				</div>
				<div class="flex">
					<div class="flex radius fixed-height items-center border-box flex-grow equal-width border">
						<div class="fill-title">
							爱宠名字
						</div>
						<input type="text" name="pet-name" class="block flex-grow fill-content" th:value="${order.petName}">
					</div>
					<div class="flex radius fixed-height items-center border-box flex-grow border equal-width">
						<div class="fill-title">
							爱宠年龄
						</div>
						<input type="text" name="pet-age" class="block flex-grow fill-content" th:value="${order.petAge}">
					</div>
				</div>
				<div class="flex">
					<div class="flex radius fixed-height items-center border-box flex-grow equal-width border">
						<div class="fill-title">
							爱宠品种
						</div>
						<input type="text" name="pet-type" class="block flex-grow fill-content" th:value="${order.petType}">
					</div>
					<div class="flex radius fixed-height items-center border-box flex-grow border equal-width">
						<div class="fill-title">
							攻击性
						</div>
						<input type="text" name="pet-aggression" class="block flex-grow fill-content" th:value="${order.isAttack} == 1 ? '是' : '否'">
					</div>
				</div>
				<div class="flex remark">
					<div class="flex radius shadow border-box flex-grow border">
						<div class="">
							爱宠身体情况：
						</div>
						<textarea type="text" name="pet-condition" class="block flex-grow border-box" th:text="${order.petCondition}" style="height:5rem"></textarea>
					</div>
				</div>
				<div class="flex remark">
					<div class="flex radius shadow border-box flex-grow border">
						<div class="">
							备注：
						</div>
						<textarea type="text" name="remark" class="block flex-grow border-box" th:text="${order.remark}" style="height:5rem"></textarea>
					</div>
				</div>

			</form>
			<div class="order-list">
				<div class="order border radius">
					<div class="radius book">
						预约
					</div>
					<div class="padding-side">
						<p th:inline="text">
							订单号：[[${order.orderNumber}]]
						</p>
						<p th:inline="text">
							服务时间：[[${#calendars.format(order.time,'yyyy.MM.dd')}]]
						</p>
						<p th:inline="text">
							服务项目：[[${order.petItem} == null ? '待服务人员确认' : ${order.petItem}]]
						</p>
						<p th:inline="text">
							购买产品：无
						</p>
						<p th:inline="text">
							价格：[[${order.payPrice} == null ? '待服务人员确认' : ${order.payPrice}]]
						</p>
					</div>
					<div class="flex">
						<a href="#" class="shadow bg fixed-height equal-width radius flex-grow flex items-center justify-center">联系客服</a>
						<a href="#" class="shadow bg fixed-height equal-width radius flex-grow flex items-center justify-center cancel-order">取消订单</a>
					</div>

				</div>
			</div>
			<input type="hidden" id="orderId" th:value="${order.id}" />
			<input type="hidden" id="userId" th:value="${order.userId}" />
		</div>
		<div class="fixed-bottom border-box flex items-center">
			<a class="flex equal-width flex-grow justify-center" href="#">服务记录</a>
		</div>

		<script type="text/javascript" src="/lib/mod.js"></script>
		<!--SCRIPT_PLACEHOLDER-->

		<script type="text/javascript">
			require("/modules/convenient-service/js/pet-order-booked");
		</script>

	</body>
</html>
