<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta
	content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
	id="viewport" name="viewport" />
<meta content="telephone=no" name="format-detection" />
<title>宠物商城</title>
<link href="/modules/base/css/common.css" rel="stylesheet"
	type="text/css">
<link href="/modules/convenient-service/css/convenient-service.css"
	rel="stylesheet" type="text/css">
<link href="/components/sweetalert/sweetalert.css" rel="stylesheet"
	type="text/css">
<link href="/components/sweetalert/swal-forms.css" rel="stylesheet"
	type="text/css">
<link href="/modules/convenient-service/css/petmain.css"
	rel="stylesheet" type="text/css">
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body class="padding-side border-box has-fixed-ele">
	<div class="row" id="sousu">
		<div class="col-lg-6">
			<div class="input-group">
				<input type="text" class="form-control"> <span
					class="input-group-btn">
					<button class="btn btn-default" type="button">搜索</button> </span>
			</div>
			<!-- /input-group -->
		</div>
	</div>
	<!-- /.col-lg-6 -->

	<div>
		<button class="btn btn-lg" style="margin-right: 20px">全部</button>
		<button class="btn  btn-sm" style="margin-right: 20px">零食</button>
		<button class="btn btn-sm" style="margin-right: 20px">主食</button>
		<button class="btn  btn-sm" >玩具</button>
	</div>
	<script type="text/javascript" src="/lib/mod.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<!--SCRIPT_PLACEHOLDER-->
	<script type="text/javascript">
		require("/modules/convenient-service/js/petall");
	</script>
</body>
</html>
