<link rel="stylesheet" type="text/css" href="/components/parsley/parsley.css" />
		
		<div class="page-header">
			<h1>
				设备图形日报表
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					前7天设备数量图形比较
				</small>
			</h1>
		</div>
		
		<div class="row">
			<div class="col-xs-12 grid-title">
				<div class="widget-box widget-color-blue5">

					<div class="widget-body">
						<div class="widget-toolbox">
							<div class="btn-toolbar">
							<form class="form-horizontal" id="searchForm" method="post">
								
								<div class="space-6"></div>

								<div class="form-group">
									<label class="control-label col-xs-1 no-padding-right" for="checkDate" >统计时间:</label>

									<div class="col-xs-2">
										<div class="input-group col-xs-12">
											<input class="form-control date-picker" id="startDate" type="text"  placeholder="开始时间"/>
											<span class="input-group-addon">
												<i class="ace-icon fa fa-calendar"></i>
											</span>
										</div>
									</div>
									
									<label class="col-xs-1" style="width: 45px;margin-top:6px;">到</label>
									
									<div class="col-xs-2">
										<div class="input-group col-xs-12">
											<input class="form-control date-picker" id="endDate" type="text"  placeholder="结束时间"/>
											<span class="input-group-addon">
												<i class="ace-icon fa fa-calendar"></i>
											</span>
										</div>
									</div>
									<div class="col-xs-1">
										<button  id="searchBtn" type="button" class="btn btn-primary btn-sm">
											搜索
											<i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
										</button>
									</div>
								</div>
									<div class="form-group">
								<!--  	<label class="control-label col-xs-1 no-padding-right" >公司:</label>
									
									<div class="col-xs-2">
										<div class="input-group col-xs-12" id="companyDiv">
											<select name="companyInfo" id="companyInfo" style="width:100%;" ><option></option>
												<script id="companyTemplate" type="text/html">
												     <option></option>
												     {{each companyInfo as value i}}
													  <option value={{value.id}}>{{value.departName}}</option>
												     {{/each}}
												</script>
											</select>
										</div>
									</div>
									
									
									<label class="control-label col-xs-1 no-padding-right" style="width: 45px;">路线:</label>
									<div class="col-xs-2">
										<div class="input-group col-xs-12" id="routeDiv">
										    <select name="routeInfo" id="routeInfo" style="width:100%;" ><option></option>
												<script id="routeTemplate" type="text/html">
												      <option></option>
													  {{each routeInfo as value i}}
													  <option value={{value.id}} >{{value.wayName}}</option>
													  {{/each}}
												</script>
											</select>
										</div>
									</div>
									<label class="control-label col-xs-1 no-padding-right" style="width: 45px;">隧道:</label>
									<div class="col-xs-2">
										<div class="input-group col-xs-12" id="tunnelDiv">
											<select name="tunnelInfo" id="tunnelInfo" style="width:100%;" ><option></option>
												<script id="tunnelTemplate" type="text/html">
														<option></option>
														{{each tunnelInfo as value i}}
													    <option value={{value.id}} arrangeType="{{value.arrangeType}}">{{value.tunnelName}}</option>
														{{/each}}
												</script>
											</select>			
										</div>
									</div>
									-->
									
								</div>
								
							</form>
							
							</div>
						</div>
						<div class="widget-main padding-0">
							<div id="canvasDiv" style="min-width:700px;height:auto;margin-left:50px;" ></div>
						</div>
					</div>
				</div>
			</div>
			
<script type="text/javascript" src="/lib/mod.js"></script>
<section id="scriptTag"></section>
<!--SCRIPT_PLACEHOLDER-->
<script type="text/javascript">
	require.async("/modules/system/dayDeviceRpt");
</script>
