<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport" />
		<meta content="telephone=no" name="format-detection" />
		<title>优惠券管理</title>
		<link href="/modules/base/css/common.css" rel="stylesheet" type="text/css">
		<link href="/modules/personal-center/css/personal-center.css" rel="stylesheet" type="text/css">
	</head>

	<body class="padding-side border-box">
		<div class="container">
			<div class="flex bg shadow radius fixed-height items-center search">
				<form action="#">
					<input type="text" placeholder="兑换优惠卷码" class="flex-grow" id="exchange">
				</form>
			</div>
			<div th:each="coupon : ${coupons}">
				<div class="coupon shadow bg car-wash-coupon no-repeat general" th:if="${coupon.couponType} == 0">
					<h2 class="flex items-center"><div class="circle icon general-bg no-repeat"></div> 通用优惠券 <span class="center-mark block"></span><span class="lightalternate">GENERAL</span></h2>
					<div th:if="${coupon.discountType} == 0">
						<span th:text="${coupon.discountValue}">9.8</span>元
					</div>
					<div th:if="${coupon.discountType} == 1">
						<span th:text="${coupon.discountValue}">9.8</span>折
					</div>
					<div th:if="${coupon.discountType} == 1" th:inline="text">
						最高抵扣[[${coupon.maxDiscount}]]元，有效期至:[[${#calendars.format(coupon.expireTime,'yyyy.MM.dd')}]]，适用小区：[[${coupon.villeageName}]]
					</div>
					<div th:if="${coupon.discountType} == 0" th:inline="text">
						有效期至:[[${#calendars.format(coupon.expireTime,'yyyy.MM.dd')}]]，适用小区：[[${coupon.villeageName}]]
					</div>
					<div></div>
				</div>
				<div class="coupon shadow bg car-wash-coupon no-repeat" th:if="${coupon.couponType} == 1 or ${coupon.couponType} == 2 or ${coupon.couponType} == 3 or ${coupon.couponType} == 4">
					<h2 class="flex items-center" th:if="${coupon.couponType} == 1"><div class="circle icon car-bg no-repeat"></div> 单次洗车 <span class="center-mark block"></span><span class="lightalternate">Car Wash</span></h2>
					<h2 class="flex items-center" th:if="${coupon.couponType} == 2"><div class="circle icon car-bg no-repeat"></div> 包月洗车 <span class="center-mark block"></span><span class="lightalternate">Car Wash</span></h2>
					<h2 class="flex items-center" th:if="${coupon.couponType} == 3"><div class="circle icon car-bg no-repeat"></div> 次卡洗车 <span class="center-mark block"></span><span class="lightalternate">Car Wash</span></h2>
					<h2 class="flex items-center" th:if="${coupon.couponType} == 4"><div class="circle icon car-beauty-bg no-repeat"></div> 汽车美容 <span class="center-mark block"></span><span class="lightalternate">Car Beauty</span></h2>
					<div th:if="${coupon.discountType} == 0">
						<span th:text="${coupon.discountValue}">9.8</span>元
					</div>
					<div th:if="${coupon.discountType} == 1">
						<span th:text="${coupon.discountValue}">9.8</span>折
					</div>
					<div th:if="${coupon.discountType} == 1" th:inline="text">
						最高抵扣[[${coupon.maxDiscount}]]元，有效期至:[[${#calendars.format(coupon.expireTime,'yyyy.MM.dd')}]]，适用小区：[[${coupon.villeageName}]]
					</div>
					<div th:if="${coupon.discountType} == 0" th:inline="text">
						有效期至:[[${#calendars.format(coupon.expireTime,'yyyy.MM.dd')}]]，适用小区：[[${coupon.villeageName}]]
					</div>
					<div></div>
				</div>
				<div class="coupon shadow bg pet-coupon no-repeat" th:if="${coupon.couponType} == 5">
					<h2 class="flex items-center" th:if="${coupon.couponType} == 5"><div class="circle icon paw-bg no-repeat"></div> 宠物管家 <span class="center-mark block"></span><span class="lightalternate">Pet Care</span></h2>
					<div th:if="${coupon.discountType} == 0">
						<span th:text="${coupon.discountValue}">9.8</span>元
					</div>
					<div th:if="${coupon.discountType} == 1">
						<span th:text="${coupon.discountValue}">9.8</span>折
					</div>
					<div th:if="${coupon.discountType} == 1" th:inline="text">
						最高抵扣[[${coupon.maxDiscount}]]元，有效期至:[[${#calendars.format(coupon.expireTime,'yyyy.MM.dd')}]]，适用小区：[[${coupon.villeageName}]]
					</div>
					<div th:if="${coupon.discountType} == 0" th:inline="text">
						有效期至:[[${#calendars.format(coupon.expireTime,'yyyy.MM.dd')}]]，适用小区：[[${coupon.villeageName}]]
					</div>
					<div></div>
				</div>
					
					
			</div>
		</div>
		<input type="hidden" th:value="${userId}" id="userId" />
		<script type="text/javascript" src="/lib/mod.js"></script>
		<!--SCRIPT_PLACEHOLDER-->

		<script type="text/javascript">
			require("/modules/personal-center/js/coupons");
		</script>

	</body>
</html>
