
<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8" />
		<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport" />
		<meta content="telephone=no" name="format-detection" />
		<title>小区选择</title>
		<link href="/modules/base/css/common.css" rel="stylesheet" type="text/css">
		<link href="/modules/personal-center/css/personal-center.css" rel="stylesheet" type="text/css">
		
</head>
<body class="padding-side border-box flex items-center justify-center">
        <div class="container">
             <div class="pay-status no-repeat">支付成功</div>
        </div>
        <div class="fixed-bottom border-box flex items-center">
               <a class="flex equal-width flex-grow justify-center" href="#">返回购物车</a><a class="flex equal-width flex-grow justify-center" href="#">个人中心</a>
        </div>
        <script type="text/javascript" src="/lib/mod.js"></script>
		<!--SCRIPT_PLACEHOLDER-->
		
	  <script type="text/javascript">
			require("/modules/personal-center/js/paid");
	  </script>
</body>
</html>
